@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  color: black;
}
/* #region Nav Bar */
nav {
  position: relative;
}
/* #endregion */

/* #region General */

img {
  width: 200px;
  border-radius: 150px;
  float: left;
  margin-right: 10px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* #endregion */

/* #region EMs */
em.SiteName {
  color: rgb(47, 255, 75);
  font-style: normal;
  font-size: 20px;
}

em.Heading {
  left: 50%;
  margin-left: 550px;
  font-style: normal;
  color: gold;
}

em.desc {
  margin-bottom: 30px;
  color: rgb(229, 255, 0);
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  white-space: pre-line;
  font-size: 16px;
}

em.Link {
  color: rgb(247, 8, 8);
  font-style: bold;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 500px;
  margin-bottom: 0px;
  white-space: pre-line;
}

em.Padding {
  margin-bottom: 200px;
  margin-top: 200px;
}
/* #endregion EMs */

/* #region Paragraphs */
p.mention {
  font-weight: bold;
  font-size: 20px;
  color: ghostwhite;
}

p.desc {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 17px;
  margin-left: 30%;
  white-space: pre-line;
}
/* #endregion Paragraphs */

/* #region Lines */
hr {
  width: 100%;
  height: 1px;
  background-color: white;
  /* margin-bottom: 70px; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.vertLeft {
  border-left: 3px solid white;
  background-color: black;
  border-width: 1px;
  height: 1130px;
  position: absolute;
  left: 10%;
}
.vertRight {
  border-left: 3px solid white;
  background-color: black;
  border-width: 1px;
  height: 1130px;
  position: absolute;
  left: 90%;
}

/* #endregion Lines */

/* #endregion Buttons */

.home-section {
  position: relative;
  background: #e4e9f7;
  background-image: url("../../images/Bkgrd.png");
  background-size: contain;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
}

/* .sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
} */

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
